<body style = "background-color: #94b8b8">
  <div class="container">
    <h2 class = text-center>All Costumes</h2>

      <ul>
        <% @costumes.each do |costume| %>
          <li>
            <%= cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill %>
            <h5><%= costume.title %></h5>
            <p>$<%= costume.price %></p>
          </li>
        <% end %>
      </ul>

  </div>
</body>


<%# <div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.webp" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-blue-light">
    </div>
</div> %>
