 <h2>All Costumes</h2>
<ol>
  <% @costumes.each do |costume| %>
    <li><%= costume.description %>
        <%= costume.price %>

    </li>
    <%= cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ol>
  </div>
</div>
