<%# <%= cl_image_tag @costume.photo.key, height: 300, width: 400, crop: :fill %>

  <div class="container">
    <p><%= @costume.price %></p>
  </div>
  <div class="container">
    <p><%= @costume.description %></p>
  </div>
