<body style="background-color: #94b8b8;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 col-lg-7 col-xl-5">
        <div class="card">
          <img src="http://www.clipartbest.com/cliparts/dc7/7Xd/dc77XdKc9.jpeg"
            class="card-img-top" alt="" style="height:550px;"/>
          <div class="card-body">
            <div class="card-title d-flex justify-content-between mb-0">
              <p class="text-muted mb-0">Costume</p>
              <p class="mb-0">$price</p>
            </div>
          </div>
          <div class="rounded-bottom" style="background-color: #eee;">
            <div class="card-body">
              <p class="mb-4">Your payment details</p>

              <div class="form-outline mb-3">
                <input type="text" id="formControlLgXM8" class="form-control"
                  placeholder="1234 5678 1234 5678" />
                <label class="form-label" for="formControlLgXM8">Card Number</label>
              </div>

              <div class="row mb-3">
                <div class="col-6">
                  <div class="form-outline">
                    <input type="password" id="formControlLgExpk8" class="form-control"
                      placeholder="MM/YYYY" />
                    <label class="form-label" for="formControlLgExpk8">Expire</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline">
                    <input type="password" id="formControlLgcvv8" class="form-control" placeholder="CVV" />
                    <label class="form-label" for="formControlLgcvv8">CVV</label>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-info" data-toggle="button" aria-pressed="false" autocomplete="off">Submit Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
