</div><h1>Accept or decline this booking</h1>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="accept" id="flexAccept">
  <label class="form-check-label" for="flexCheckDefault">
    Accept
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="decline" id="flexDecline">
  <label class="form-check-label" for="flexCheckChecked">
    Decline
  </label>
</div>
