<h1 class= "pt-5 text-center text-uppercase fw-bolder">Costumize</h1>
<h4 class= "pb-5 text-center">Rent your next costume here!</h4>

<div class="carousel-inner" role="listbox">

</div>

<body style = "background-color: #94b8b8">

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'venetian_mask.jpg', class: 'd-block w-100', alt: "First slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'snow_white.jpg', class: 'd-block w-100', alt: "Second slide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'two_costumes.jpg', class: 'd-block w-100', alt: "Second slide"%>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</body>





<footer class="relative text-center text-white" style="background-color: white;">
  <div class="container pt-4">
    <section class="mb-4">

      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
  </div>

  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  </div>
</footer>
